@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(18, 43, 74);
  background: linear-gradient(
    90deg,
    rgb(21, 83, 38) 0%,
    rgb(92, 190, 120) 100%
  );
}

header {
  font-family: Sans-serif;
  font-size: 10em;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: Sans-serif;
  background-color: #000000;
  border: none;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 32px;
  margin: 10px;
}

#bet-result-text p {
  font-family: Sans-serif;
  font-size: 2em;
  font-weight: 500;
}

.invisible {
  display: none;
}
